/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --main-font: 'Inter-Variable', sans-serif;
  --accent-font: 'Press Start 2P', sans-serif;
  --main-font-text-weight: 410;
  --main-font-title-weight: 715;
  --background-color: #fff;
  --main-color: #fff;
  --main-background-color: #fff;
  --accent-color: #000;
  --gradient-line-color-first: #d3d3d3;
  --gradient-line-color-second: #e7e7e7;
  --gradient-line-color-third: #1a1a1a;
  --heart-contour-color: #000;
  --animation-fill-color: #FF0000;
  --block-width: clamp(375px, 48.6% ,700px);
  --background-gradient:
    repeating-linear-gradient(to right, var(--gradient-line-color-first) 0 2px, transparent 2px 4px),
    repeating-linear-gradient(to bottom, var(--gradient-line-color-first) 0 2px, transparent 2px 4px),
    linear-gradient(to bottom, var(--gradient-line-color-second) 0.1%, var(--gradient-line-color-third) 100%);
}

